/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Main Styling  */
html, body {
    font-family: 'Lato', sans-serif;
}

#header {
    background-image: url("../Images/bg.png");
    background-color: #cccccc;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
}

.top-info {
    background-color: #272A31;
}

.info-links {
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: flex-end;
}

.info-links a {
    color: #D3D3D3;
    padding: 5px 10px;
}

.navbar {
    background-color: white;
    -webkit-box-shadow: 0px 1px 49px -19px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 49px -19px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 49px -19px rgba(0,0,0,0.55);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
}

.nav-links ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav-links li{
    list-style: none;
    padding: 10px 0;
}

.nav-links ul li a{
    color: #D3D3D3;
    padding: 10px;
    font-size: 1.2rem;
}

.nav-links img {
    padding: 10px 0;
}

.info {
    max-width: 1300px;
    margin: auto;
}

.top-information {
    padding-top: 50px;
}

.top-information h1,
h2 {
    color: #EC5242;
    font-size: 2rem;
}

.ifnormation-dsc {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #D3D3D3;
    border: 3px solid white;
    -webkit-box-shadow: 0px 1px 49px -19px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 49px -19px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 49px -19px rgba(0,0,0,0.55);
}

.date {
    color: #272a27;
    font-size: 2rem;
    margin-top: 10px;
}

.date-dsc {
    font-size: 1.2rem;
}