/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

/* Main Styling  */
html, body {
    font-family: 'Lato', sans-serif;
}

.top-info {
    background-color: #272A31;
}

.info-links {
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: flex-end;
}

.info-links a {
    color: #D3D3D3;
    padding: 5px 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navbar li{
    list-style: none;
    padding: 10px 0;
}

.navbar ul li a{
    color: #D3D3D3;
    padding: 10px;
    font-size: 1.2rem;
}

.navbar img {
    padding: 10px 0;
}